<div class="panel panel-default">
  <div class="panel-heading">Login</div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" data-bind="value:email">
        <span data-bind="text:email"></span>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" >
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary form-control">Login</button>
      </div>      
    </form>
  </div>
</div>
